/* Structure */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    display: grid;
    grid-template: 3fr .5fr / 1fr 2.5fr;
    grid-template-areas: 
        "section1 section2"
        "section3 section4";
    height: 100vh;
}
img {
    height: 100px;
}
li {
    list-style: none;
}
/* Section 1 */
.section1 {
    grid-area: section1;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.logo-img {
    height: 100%;
}
h1 {
    font-size: 4.5rem;
    
}
.section1_logo {
    height: 10%;
    align-self: flex-start;
}
.section1_text {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.1rem;
    padding-bottom: 10%;
}
/* Section 2 */
.section2 {
    grid-area: section2;
}
.section2_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* Section 3 */
.section3 {
    display: flex;
    grid-area: section3;
    align-items: center;
    justify-content: center;
}
.section3_navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-around;
}
/* Section 4 */
.section4 {
    grid-area: section4;
    display: flex;
    flex-direction: row;
}
.section4_stars-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section4 p{
    text-align: center;
}
.section4 ul img {
    width: 2rem;
    height: 2rem;
}
.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section4_images {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}